

<div class="container">
  <div class="row">
    <div class="">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-6 col-md-8">
            <h4>
              <%= @user.user_name %>
            </h4>
            <small><cite title="San Francisco, USA"><%= @user.address %> <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
              <br />
              <i class="glyphicon glyphicon-gift"></i><%= @user.birthday %>
              <br />
              <i class="glyphicon glyphicon-gift"></i><%= @user.gender %>
              <br />
              <i class="glyphicon glyphicon-gift"></i><%= @user.position %>
              <br />
              <i class="glyphicon glyphicon-gift"></i><%= @user.role %>
            </p>
            <a class="likeabutton" href="/cms/users/<%=@user.id%>/edit">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

