<!-- @extends('layouts.app')

@section('breadcrumb')
    @include('common.breadcrumb')
@stop

@section('errors-message')
    @include('common.errors')
@stop

@section('susscess-message')
    @include('common.success')
@stop


@section('content') -->
<div style="margin-top: 30px;"></div>
  <div class="content-container">
    <div class="content">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="list-group">
          <span href="#" class="list-group-item active" align="center">
            <!-- {{trans('users.label_profile')}} -->
            Profile
          </span>
          <a href="{{ route('users.profile') }}" class="list-group-item list-group-item-success">
            <i class="fa fa-user-circle" aria-hidden="true">
            </i>
            <!-- {{trans('users.label_info')}} -->
            Infor
          </a>
         <!--  <a href="{{ route('users.show.posts') }}" class="list-group-item">
            <i class="fa fa-money" aria-hidden="true"></i> {{trans('users.label_posts')}}
          </a> -->

          <a class="list-group-item" data-toggle="collapse" data-target="#frontend-user-profile-update-image-container">
            <i class="fa fa-file-image-o" aria-hidden="true"></i> Change Avatar <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </a>
          <div id="frontend-user-profile-update-image-container" class="collapse well">
            <%= form_for cms_update_avatar_path(current_user.id), class: "avatar-form", method: "post", :html => {:multipart => true} do %>
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <div class="form-group">
                <input class="avatar-input" id="imgInp" name="image" type="file" required="required" style="max-width: 216px !important; ">
              </div>
              <div class="row">
                  <button class="btn btn-primary btn-block avatar-save" type="submit"> <!-- {{trans('common.button_confirm')}} -->
                  Confirm
                  </button>
              </div>
              <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " align="center" id="frontend-user-profile-image-container">
        <%= user_avartar current_user %>
        <!-- <img alt="User Pic" src="{{ Auth::user()->avatar }}" class="img-circle img-responsive"> -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
        <div class="row">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= current_user_type.name %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= current_user.email %></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td><%= current_user_type.gender %></td>
              </tr>
              <tr>
                <td>Birthday</td>
                <td><%= current_user_type.bithday %></td>
              </tr>
                <td>Phone Number:</td>
                <td><%= current_user_type.phonenumber %></td>
              </tr>
              <tr>
                <td>Position</td>
                <td><%= current_user_type.position %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
            <a href="{{ route('users.edit', [Auth::user()->email]) }}" class="btn btn-primary btn-lg btn-block">Update</a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
            <a href="#" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#user-profife-edit-modal">Change Password</a>

            <!-- Modal -->
            <div class="modal fade" id="user-profife-edit-modal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <span type="button" class="close" data-dismiss="modal">&times;</span>
                    <h4 class="modal-title">Change Password</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" action="<%=cms_changepassword_path(current_user.id)%>" method="POST" name="user-edit-password-form">
                      <!-- {{ csrf_field() }} -->
                      <!-- {{ method_field('PUT') }} -->
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="user-profile-current-password">Current password:</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="current_password" id="user-profile-current-password" placeholder="Enter current password...">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="user-profile-new-password">New password:</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="password" id="user-profile-new-password" placeholder="Enter new password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="user-profile-comfirmation-password">Retype_password':</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="password_confirmation" id="user-profile-comfirmation-password" placeholder="Enter confirmation password...">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer align-center">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-sm-offset-3 col-md-offset-3">
                      <a href="" class="btn btn-warning btn-lg btn-block" data-dismiss="modal">Cancel</a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                      <a href="" name="user-edit-password-submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#user-profife-edit-modal">Confirm</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End modal -->

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- @endsection -->

<!-- @push('end-page-scripts') -->
<script type="text/javascript">
  $("a[name='user-edit-password-submit']").click(function() {
    $("form[name='user-edit-password-form']").submit();
  });

  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#frontend-user-profile-image-container').find('img').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

  $("#imgInp").change(function(){
      readURL(this);
  });
</script>
