<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<div class="container">
  <h2>Chart.js — Bar Chart Demo</h2>
  <div>
    <canvas id="myChart"></canvas>
  </div>
  <p id="caption">The chart is displaying apples & oranges</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="text-align: center;">Booking Services</h3>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Id</th>
            <th>Service Name</th>
            <th>Number</th>
            <th>Room</th>
            <th>Booking id</th>
            <th>Total Price</th>
            <th>Time Order</th>
            <th>Status</th>
          </thead>
          <tbody>

            <% @booking_services.each do |booking_service| %>
            <% booking_id = booking_service.booking.id %>
            <tr class = "closesst1">
              <td><%= booking_service.id %></td>
              <td><%= booking_service.service.name %></td>
              <td><%= booking_service.number %></td>
              <td><%= booking_service.booking.room.name %></td>
              <td><%= link_to booking_id, edit_cms_booking_path(booking_id) %></td>
              <td><%= (booking_service.price)*(booking_service.number) %></td>
              <td><%= booking_service.time %></td>
              <td><%= booking_service.status %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="clearfix"></div>
        <%= paginate @booking_services %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var ctx = document.getElementById("myChart").getContext('2d');

var original = Chart.defaults.global.legend.onClick;
Chart.defaults.global.legend.onClick = function(e, legendItem) {
  update_caption(legendItem);
  original.call(this, e, legendItem);
};

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["M", "T", "W", "T", "F", "S", "S"],
    datasets: [{
      label: 'apples',
      backgroundColor: "rgba(153,255,51,1)",
      data: [12, 19, 3, 17, 28, 24, 7],
    }, {
      label: 'oranges',
      backgroundColor: "rgba(255,153,0,1)",
      data: [30, 29, 5, 5, 20, 3, 10],
    }]
  }
});

var labels = {
  "apples": true,
  "oranges": true
};

var caption = document.getElementById("caption");

var update_caption = function(legend) {
  labels[legend.text] = legend.hidden;

  var selected = Object.keys(labels).filter(function(key) {
    return labels[key];
  });

  var text = selected.length ? selected.join(" & ") : "nothing";

  caption.innerHTML = "The chart is displaying " + text;
};

</script>
<style type="text/css">
.container {
  width: 80%;
  margin: 15px auto;
}

#caption{
  margin-left: 25px;
}
</style>
