<header style="text-align: center;">You have just booked in room <%= @booking.room.name %></header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h3 class="pull-right"></h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <% customer = @booking.customer %>
            <strong>Mail To:</strong><br>
            <%=customer.name%><br>
            <%=customer.email%><br>
            <%=customer.country%><br>
            <%=customer.street%><br>
            <%=customer.number_street%><br>
          </address>
        </div>
        <!-- <div class="col-xs-6 text-right">
          <address>
            <strong>Shipped To:</strong><br>
            Jane Smith<br>
            1234 Main<br>
            Apt. 4B<br>
            Springfield, ST 54321
          </address>
        </div> -->
      </div>
      <div class="row">
        <!-- <div class="col-xs-6">
          <address>
            <strong>Payment Method:</strong><br>
            Visa ending **** 4242<br>
            jsmith@email.com
          </address>
        </div> -->
        <div class="col-xs-6 text-right">
          <!-- <address>
            <strong>Order Date:</strong><br>
            March 7, 2014<br><br>
          </address> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td><strong>Room</strong></td>
                  <td class="text-center"><strong>Price</strong></td>
                  <td class="text-center"><strong>Days</strong></td>
                  <td class="text-center"><strong>Check in</strong></td>
                  <td class="text-center"><strong>Check out</strong></td>
                  <td class="text-right"><strong>Totals</strong></td>
                </tr>
              </thead>
              <tbody>
                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                <tr>
                  <% room = @booking.room %>
                  <td><%= room.name %></td>
                  <td class="text-center"><%=@booking.room.price%></td>
                  <td class="text-center"><%=@booking.check_in%></td>
                  <td class="text-center"><%=(@booking.check_out)%></td>
                  <td class="text-center"><%=(@booking.check_out - @booking.check_in)/1.day%></td>
                  <td class="text-right"><%=((@booking.check_out - @booking.check_in)/1.day)*room.price%>$</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="danger">Pleased check your mail soon, after 1 days from now if you not check your mail your booking will be auto cancel, Thanks for your booking</footer>
</div>
<style type="text/css">
  .invoice-title h2, .invoice-title h3 {
  display: inline-block;
  }
  .table > tbody > tr > .no-line {
  border-top: none;
  }
  .table > thead > tr > .no-line {
  border-bottom: none;
  }
  .table > tbody > tr > .thick-line {
  border-top: 2px solid;
  }

</style>