<div class="row">
  <div class="col-md-4">

    <h3><%= link_to 'Rooms', cms_rooms_path %></h3>

    <p>
      Manager room<br />
      <br />
      <small class="text-warning"></small>
      <br />
      <small class="text-warning"></small>
    </p>
  </div>
  <div class="col-md-4">
    <h3><%= link_to 'Bookings', cms_bookings_path %></h3>

    <p>
    Manager bookings
      <br />

    </p>
  </div>
  <div class="col-md-4">
    <h3><%= link_to 'Services', cms_services_path %></h3>
    <p>
      Manager Services<br />
      <br />
      <br />
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><%= link_to 'Rooms bookings', '/cms/all_rooms/bookings' %></h3>
    <p>
      Click to see
      bookings of all rooms<br />
    </p>
  </div>

  <div class="col-md-4">
    <h3><%= link_to 'Watting Bookings', cms_watting_bookings_path %></h3>
    <p>
      All bookings is watting and need for contact and accept<br />
      <small class="text-warning"></small>
    </p>
  </div>

  <div class="col-md-4">
    <h3><%= link_to 'Booking Services', cms_all_booking_services_path %></h3>

    <p>
      Click to see all booking services<br />
      <small class="text-warning"></small>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><%= link_to '', '' %></h3>

    <p>
      <br />
      <br />
      <small class="text-warning"></small>
    </p>
  </div>

  <div class="col-md-4">
    <h3><%= link_to '', '' %></h3>

    <p>
      <br />

    </p>
  </div>
  <div class="col-md-4">
    <h3><%= link_to 'Booking Services Watting', '' %></h3>

    <p>
      Click to see all bookings services are waitting<br />
    </p>
  </div>
</div>
