<%= render partial: 'cms/errors/errors', locals: {errors: @service.errors} if @service.present? %>
<%= render partial: 'cms/errors/errors', locals: {errors: @booking_service.errors} if @booking_service.present? %>
<%= render partial: 'cms/errors/flash' , locals: { flash: flash } %>
<h1>All Services</h1>
<form action="<%=cms_booking_services_invoice_path(format: :pdf)%>" id="new_services_form" method="post" target="_blank">
<%= submit_tag 'Invoice', style: "margin-bottom: 10px" %>
<%= button_tag 'Pay', class: 'pay_chooseds', id: "pay_chooseds_btn", style: "margin-bottom: 10px" %>
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="booking_id" value="<%= @booking.id %>">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th><%= check_box_tag "select_all", nil %></th>
      <th width="100">Name</th>
      <th width="200">Price</th>
      <th width="10">Number</th>
      <th width="200">Total Price</th>
      <th width="400">Time Order</th>
      <th width="500">Status</th>
      <th width="800">Action</th>
      <th width="200">Pay</th>
      <th width="100"></th>
      <th width="200">Booked_at</th>
      <th width="200">Employee</th>
    </tr>
    </thead>
    <tbody>
    <% paid_total = 0 %>
    <% unpaid_total = 0 %>
    <% booking_services.each do |booking_service| %>
    <% service = booking_service.service %>
    <tr>
      <% paid_total += booking_service.number*booking_service.price if booking_service.paid? && !(booking_service.cancel?) %>
      <% unpaid_total += booking_service.number*booking_service.price if booking_service.unpaid? && !(booking_service.cancel?) %>
      <td><%= check_box_tag("booking_service_ids[]", booking_service.id, false) if !booking_service.cancel? && !booking_service.paid? %></td>
      <td><%= service.name%></td>
      <td><%= booking_service.price%></td>
      <td><%= booking_service.number%>
      <td><%= booking_service.number*booking_service.price%></td>
      <td><%= (booking_service.time).strftime('%Y-%m-%d %I:%M:%S %p') if booking_service.time.present? %></td>
      <td><div class='box', style="background: <%=Cms::BookingServicesHelper::STATUS_COLOR[booking_service.status]%>; width: 60%"><%= booking_service.status%></div></td>
      <td>
        <%= link_to 'booked', cms_update_booking_services_path(booking_service.id, commit: :booked), disabled: !(booking_service.may_booked?), class: 'btn btn-success btn-xs', method: :post %>
        <%= link_to 'cancel', cms_update_booking_services_path(booking_service.id, commit: :cancel), disabled: !(booking_service.may_cancel?), class: 'btn btn-danger btn-xs', method: :post %>
      </td>
      <td>
        <%= booking_service.pay%>
      </td>
      <td>
        <%= link_to 'paid', cms_update_booking_services_path(booking_service.id, commit: :paid), disabled: booking_service.paid? || booking_service.cancel?, class: 'btn btn-success btn-xs', method: :post %>
      </td>
      <td><%= (booking_service.created_at + 7.hour).strftime('%Y-%m-%d %I:%M:%S %p')%></td>
      <td><%= determine(booking_service.user_id).name%></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-bordered table-striped table-hover">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Paid: <%= paid_total %></td>
        <td>UnPaid <%= unpaid_total %></td>
        <td>Total: <%= paid_total + unpaid_total %></td>
      </tr>
    </tbody>
  </table>
</form>

<script type="text/javascript">
$(document).ready(function() {

    $('input[name=select_all]').click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    $("[id*=book_]").change(function () {
        if ($('input[id*=book_][type=checkbox]:checked').length == $('input[id*=book_][type=checkbox]').length) {
            $('input:checkbox').prop('checked', true);
        } else {
            $('input:checkbox').prop('checked', false);
        }
    });

});

var form = document.getElementById('new_services_form');

document.getElementById('pay_chooseds_btn').onclick = function() {
    form.action = "<%=cms_booking_services_pay_chooseds_path%>";
    // form.removeAttribute("targer");
    $('form[target="_blank"]').removeAttr('target');
    form.submit();
}

</script>