<%= form_tag cms_bookings_path, method: :get, class: 'form-horizontal form_search' do %>
  <div class="form-group">
    <label class="col-md-1 control-label">Check In</label>

    <div class="col-md-2">
      <%= text_field_tag 'search[check_in]', params[:search].present? ? params[:search][:check_in] : '', type: :date, class: 'form-control' %>
    </div>
   <!--  <div class="col-md-2">
      a
    </div> -->
    <label class="col-md-2 control-label">Check out</label>

    <div class="col-md-2">
      <%= text_field_tag 'search[check_out]', params[:search].present? ? params[:search][:check_out] : '', type: :date, class: 'form-control' %>
    </div>
   <!--  <div class="col-md-2">
      a
    </div> -->
  </div>
  <div class="form-group">
    <label class="col-md-1 control-label">Room</label>

    <div class="col-md-2">
      <%= text_field_tag 'search[room_name]', params[:search].present? ? params[:search][:room_name] : '', class: 'form-control', placeholder: '' %>
    </div>

    <label class="col-md-2 control-label">Email:</label>

    <div class="col-md-2">
      <%= text_field_tag 'search[email]', params[:search].present? ? params[:search][:email] : '', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">

    <label class="col-md-1 control-label">Status</label>

    <div class="col-md-2">
      <%= select_tag 'search[status]', options_for_select(ApplicationHelper::BOOKING_STATUS, params[:search].present? ? params[:search][:status] : ''), class: 'form-control'%>
      </select>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <input type="submit" class="btn btn-primary" value="Search">
    </div>
  </div>
  <hr/>
<% end %>
