<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="col-md-5">
  <form id ="update-bookings" action = "/cms/bookings/<%=@booking.id%>" method="post">
    <input type="hidden" name="_method" value="put" />
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <h4 class="modal-title custom_align namepop" id="Heading">Edit Booking</h4>
    </div>
    <div class="modal-body">
      <%= render partial: 'cms/errors/errors', locals: {errors: @booking.errors} if @booking.present? %>
      <%= render partial: 'cms/errors/flash' , locals: { flash: flash } if flash[:errors].present? %>
      <lable>Name</lable>
      <% room = @booking.room %>
      <div class="form-group">
        <input name= "name" class="form-control pop_customer_name" type="text" value="<%=@booking.customer.name %>" placeholder="Customer Name" disabled>
      </div>
      <lable>Phone number</lable>
      <div class="form-group">
        <input name="phonenumber" class="form-control pop_customer_phone" type="text" value="<%=@booking.customer.phonenumber%>" placeholder="Phone Number" disabled>
      </div>
      <lable>Email</lable>
      <div class="form-group">
        <input name="email" class="form-control pop_customer_email" type="text" value="<%= @booking.customer.email%>" placeholder="Email" disabled>
      </div>
      <lable>Country</lable>
      <div class="form-group">
        <input name="country" class="form-control pop_customer_country" type="text" value="<%=@booking.customer.country%>" placeholder="Country" disabled>
      </div>
      <lable>Room name</lable>
      <div class="form-group">
        <input disabled name="room_name" class="form-control pop_room_name " type="text" value="<%=room.name%>" placeholder="Room name">
      </div>
      <lable>Adults</lable>
      <div class="form-group">
        <%= text_field_tag 'booking[adults]', @booking.adults, disabled: !@booking.watting?, class:'form-control pop_room_name%'%>
        <!-- <input name="booking[adults]" class="form-control pop_room_name " type="text" value="<%=@booking.adults%>" placeholder="Room name"> -->
      </div>
      <lable>Childrens</lable>
      <div class="form-group">
        <%= text_field_tag 'booking[childrens]', @booking.childrens, disabled: !@booking.watting?, class:'form-control pop_room_name%'%>
<!--         <input name="booking[childrens]" class="form-control pop_room_name " type="text" value="<%=@booking.childrens%>" placeholder="Room name"> -->
      </div>
      <lable>Check in</lable>
      <div class="form-group">
        <%= text_field_tag 'booking[check_in]', @booking.check_in.strftime('%Y-%m-%d'), disabled: !@booking.watting?, type: :date, class:'form-control pop_room_name%'%>
        <!-- <input name="booking[check_in]" id = 'check_in' class="form-control pop_check_in " type="date" value="<%=@booking.check_in.strftime('%Y-%m-%d')%>" placeholder="Check in"> -->
      </div>
      <lable>Check out</lable>
      <div class="form-group">
        <%= text_field_tag 'booking[check_out]', @booking.check_out.strftime('%Y-%m-%d'), disabled: !@booking.watting?, type: :date, class:'form-control pop_room_name%'%>
        <!-- <input name="booking[check_out]" id = 'check_out' class="form-control pop_check_out " type="date" value="<%=@booking.check_out.strftime('%Y-%m-%d')%>" placeholder="Check out"> -->
      </div>
      <lable>Total Price</lable>
      <div class="form-group">
        <input disabled class="form-control pop_room_name " type="text" value="<%=((@booking.check_out - @booking.check_in)/1.day)*room.price%>$" placeholder="Room name">
      </div>
      <lable>Status</lable>
      <div class="form-group">
        <input disabled class="form-control pop_status" value="<%=@booking.status%>" type="text" placeholder="Status">
      </div>
      <div class="form-group"></div>
    </div>
    <div class="modal-footer ">
      <div class="row">
        <div class = "col-md-2">
          <%= submit_tag "cancle", disabled: !(@booking.may_cancel?), name: :commit, value: :cancel, class: "btn btn-warning" %>
          <!-- <button type="submit" class="btn btn-warning" style="width: 100%;"></button> -->
        </div>
        <div class = "col-md-2">
          <%= submit_tag "accept", disabled: !(@booking.may_accept?), name: :commit, value: :accept, class: "btn btn-warning" %>
          <!-- <button type="submit" class="btn btn-warning" style="width: 100%;">Update</button> -->
        </div>
        <div class = "col-md-2">
          <%= submit_tag "in use", disabled: !(@booking.may_in_use?), name: :commit, value: :in_use, class: "btn btn-warning" %>
          <!-- <button type="submit" class="btn btn-warning" style="width: 100%;">Update</button> -->
        </div>
        <div class = "col-md-2">
          <%= submit_tag "finish", disabled: !(@booking.may_finish?), name: :commit, value: :finish, width: '100%', class: "btn btn-warning" %>
          <!-- <button type="submit" class="btn btn-warning" style="width: 100%;">Update</button> -->
        </div>
        <div class = "col-md-3">
          <%= submit_tag "Update", disabled: !(@booking.watting?), name: :update, value: :update, width: '100%', class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- This below for search room suggest -->
<div class="col-md-7">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align namepop" id="Heading">Empty Room</h4>
  </div>
    <%= render 'form_find_empty_rooms' %>
  <div class="suggest_rooms_result">
 <!--  <%= render partial: 'cms/rooms/room_items', locals: {rooms: Room.all} %> -->
  </div>
</div>
</body>
</html>
<!-- <script type="text/javascript">
  $("#check_in").change(function(){
    alert($("#check_in").val() - $("#check_out").val());
    alert($('#check_in').val());

  });
  $("#check_out").change(function(){
  });
  function setPrice(){
    check_in = new Date($('#check_in'));
    check_out = new Date($('#check_out'));
  }
</script> -->