  <h1>Booking #<%= link_to(@booking.id, edit_cms_booking_path(@booking.id))%></h1>
  <h1>Service used in room <%= @booking.room.name %></h1>
<% room = @booking.room %>
<h1>You are in booking room <% room.name %>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th width="100">Room</th>
    <th width="200">Customer</th>
    <th width="200">Price</th>
    <th width="300">Check in</th>
    <th width="300">Check out</th>
    <th width="200">Total Price</th>
    <th width="200">Total payed</th>
    <th width="200">Action</th>
    <th width="200">Booked at</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= room.name%></td>
      <td><%= @booking.customer.name%>
      <td><%= @booking.price %></td>
      <td><%= @booking.check_in.strftime('%Y-%m-%d')%></td>
      <td><%= @booking.check_out.strftime('%Y-%m-%d')%></td>
      <td><%= (((@booking.check_out - @booking.check_in + 1.day)/1.day)*@booking.price.to_i).to_i%>$/<%=((@booking.check_out - @booking.check_in + 1.day)/1.day).to_i%>days</td>
      <td><%= @booking.total_payed %></td>
      <td><%= pay_link_to @booking %></td>
      <td><%= @booking.created_at.strftime('%Y-%m-%d %I:%M:%S %p')%></td>
    </tr>
  </tbody>
</table>
<h1>You want to add service in room <%= @booking.room.name %>
This below is service for you choose?
<h1>We have many service is open below</h1>
<%= render 'form_find_services' %>
<div class="all_services_ajax" ><%= render partial: 'all_services', locals: {services: @services} %></div>
<div class = "all_booking_services_ajax"><%= render partial: 'all_booking_services', locals: {booking_services: @booking_services} %></div>

<div class=".timepicker"></div>
<script type="text/javascript">
  function get_link(){
    alert("a");
    alert(this.closest('b'));
    $('.timepicker').timepicker()

    $('.timepicker').timepicker()
      .on('changeTime', function(ev) {
        alert('time has changed');
        });
  }
</script>
