  <h1>Booking #<%=@booking.id%></h1>
  <h1>Service used in room <%= @booking.room.name %></h1>
<% room = @booking.room %>
<h1>You are in booking room <% room.name %>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th width="100">Room</th>
    <th width="200">Customer</th>
    <th width="200">Price</th>
    <th width="300">Check in</th>
    <th width="300">Check out</th>
    <th width="200">Pay</th>
    <th width="200">Action</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= room.name%></td>
      <td><%= @booking.customer.name%>
      <td><%= (((@booking.check_out - @booking.check_in)/1.day)*room.price).to_i%>$/<%=((@booking.check_out - @booking.check_in)/1.day).to_i%>days</td>
      <td><%= @booking.check_in%></td>
      <td><%= @booking.check_out%></td>
      <td><%= 'a' %></td>
      <td><div class='box' style="background: blue;" width: 50%"><%= %></div></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th width="100">Name</th>
    <th width="200">Number</th>
    <th width="200">Price</th>
    <th width="200">Time Order</th>
    <th width="200">Status</th>
    <th width="200">Action</th>
    <th width="200">Pay</th>
    <th width="200">Total Price</th>
  </tr>
  </thead>
  <tbody>
  <% @booking_services.each do |booking_service| %>
  <% service = booking_service.service %>
  <tr>
    <td><%= service.name%></td>
    <td><%= booking_service.number%>
    <td><%= service.price%></td>
    <td><%= booking_service.time%></td>
    <td><div class='box', style="background: <%=Cms::BookingServicesHelper::STATUS_COLOR[booking_service.status]%>; width: 50%"><%= booking_service.status%></div></td>
    <td>
      <%= link_to 'booked', cms_update_booking_services_path(booking_service.id, commit: :booked), disabled: !(booking_service.may_booked?), class: 'btn btn-success btn-xs', method: :post %>
      <%= link_to 'cancel', cms_update_booking_services_path(booking_service.id, commit: :cancel), disabled: !(booking_service.may_cancel?), class: 'btn btn-danger btn-xs', method: :post %>
    </td>
    <td>a</td>
    <td><%= booking_service.number*service.price%></td>
  </tr>
  <% end %>
  </tbody>
</table>

<table class="table table-bordered table-striped table-hover">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Paid:</td>
      <td>UnPaid:</td>
      <td>Total:</td>
    </tr>
  </tbody>
</table>

<h1>You want to add service in room <%= @booking.room.name %>
This below is service for you choose?
<h1>We have many service is open below</h1>
<%= render partial: 'cms/errors/errors', locals: {errors: @service.errors} if @service.present? %>
<%= render partial: 'cms/errors/flash' , locals: { flash: flash } %>

<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th width="100">Image</th>
    <th width="100">Name</th>
    <th width="200">Price</th>
    <th width="200">Time</th>
    <th width="200">Number</th>
    <th width="100">status</th>
    <th width="150">Action1</th>
  </tr>
  </thead>
  <tbody>
  <% @services.each do |service| %>
  <tr class = "b">
      <%= text_field_tag 'booking_id', @booking.id, type: :hidden, class: :booking_id %>
      <%= text_field_tag 'service_id', service.id, type: :hidden, class: :service_id %>
      <td><%= service_tag(service) %></td>
      <td><%= service.name%></td>
      <td><%= service.price%></td>
      <td><%= text_field_tag 'time',nil, type: 'time' %></td>
      <td><%= text_field_tag 'number', 1, type: :number, class: :number, width: "50%" %></td>
      <td>
        <div class="box" style="background: <%= Cms::ServicesHelper::STATUS_COLOR[service.status]%>;">
          <%= service.status%>
        </div>
      </td>
      <td>
        <%= link_to 'Choose Service', '', disabled: service.close?,method: :post, class: 'get_link btn btn-warning btn-xs'%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-6">
    <%= paginate @services %>
  </div>
</div>
<script type="text/javascript">
  function get_link(){
    alert("a");
    alert(this.closest('b'));
  }
</script>
