<% rooms.each do |room| %>
<tr data-status="pendiente">
  <td>
    <div class="media">
      <a href="#" class="pull-left">
      <%= image_tag room.room_icon.thumb.url if room.room_icon.present? %>
      </a>
      <div class="media-body">
        <span class="pull-right pendiente">Price</span>
        <h4 class="title">
          <%= room.name %>
          <span class="media-meta pull-right"><%= room.price %>$</span>
        </h4>
        <p class="summary">c</p>
      </div>
      <div>
        <div>adults: <%= room.adults%></div>
        <div>children: <%= room.childrens %></div>
      </div>
      <div>
        <a href="../cms/rooms/<%=room.id%>" data-method="delete" class="btn btn-danger" style="float:right"><span class="glyphicon glyphicon-trash"></span>delete</a>
        <a href="../cms/rooms/<%=room.id%>/edit" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="../bookings/new?room_id=<%=room.id%>" class="btn btn-info" style="float:right"><span class="glyphicon glyphicon-edit"></span>Book</a>
      </div>
    </div>
    <hr>
  </td>
</tr>
<% end %>
